RewriteEngine On
RewriteRule ^cover/?$ root/default.php [nc]
RewriteRule ^edit/(([a-z]+)/)?$ root/edit.php?screen=$2 [nc]
RewriteRule ^delete/([0-9]+)/$ root/delete.php?fid=$1 [nc]
RewriteRule ^ajax/(exe|prov)/$ root/ajax_$1.php [nc]
RewriteRule ^insert/([a-z]+)/([a-z0-9\-]+)/$ root/insert.php?screen=$1&selected=$2 [nc]
RewriteRule ^insert/(([a-z]+)/)?$ root/insert.php?screen=$2 [nc]
RewriteRule ^log/(([0-9]+)/)?$ root/log.php?page=$2 [nc]
RewriteRule ^null/$ root/null.php [nc]
RewriteRule ^print/(([0-9]+)/)?$ root/print.php?screen=$2 [nc]
RewriteRule ^ranks/(([0-9]+)/)?$ root/ranks.php?userid=$2 [nc]
RewriteRule ^search/(([a-z]+)/)?$ root/search.php?screen=$2 [nc]
RewriteRule ^users/(([0-9]+)/)?$ root/users.php?userid=$2 [nc]
RewriteRule ^(login|logout)/$ root/session.php?mode=$1 [nc]