BODY {
	margin-top: 0px;
	background-color: #DDDDDD;
	background-image: url(exiva-bg.gif);
	background-repeat: repeat-x;
}

BODY, DIV, SPAN, A, INPUT, TEXTAREA {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
A:hover {
	text-decoration: underline;
}
FORM {
	margin: 0px;
}

H1, .h1, .h2, .h3 {
	font-family: "Trebuchet MS","Arial","Verdana",sans-serif;
	font-size: 30px;
	letter-spacing:.025em;
}
.h2 {
	font-size: 20px;
	font-weight: bold;
}
.h3 {
	font-size: 15px;
	font-weight: bold;
}
.table-collapse {
	border-collapse: collapse;
}
.ie-widthfix {
	height: 1%;
}


DIV .hr {
	margin: 0px;
	padding: 0px;
	line-height: 1px;
	background-color:#999999;
}
.subtitle {
	margin: 0px 0px 0px 8px;
	padding: 10px;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	width: 200px;
	white-space: nowrap;
	background-color: #CCCCCC;
	color: #003366
}
.vsep-pre {
	margin-left: 30px;
}
.vsep1 {
	border-left: 1px solid #999999;
	line-height: 12px;
	margin: 0px;
	padding: 0px;
	width: 25px;
}
.subtitle-link-container {
	margin: 0px 0px 0px 16px;
	padding: 10px;
	border: 1px solid #999999;
	width: 250px;
	white-space: nowrap;
	background-color: #CCCCCC;
	color: #003366
}
.tdisb {
	background-color: #EBEBEB;
	border: 1px solid #999999;
}


.cursor-notext {
	cursor: auto;
}

.ajax-results TR:hover {
	background-color: #FFFFFF;
}

#main-container {
	padding: 10px;
}

.soft {
	color: #999999;
}
.red {
	color: #990000;
}
.gray {
	color: #000
}
.bold {
	font-weight: bold;
}
.colorbox {
	background-color: #CCCCCC
}
.bgcolor2 {
	background-color: #EEEEEE;
}
.bgcolor3 {
	background-color: #DDDDDD;
}
.bgnull1 {
	background-color: #CCCCFF;
}
.bgnull2 {
	background-color: #C8DDD1;
}
.box {
	border: 1px solid #FFF;
}
.darkborder {
	border: 1px solid #999999;
}
.dsm {
	width: 275px;
}
.pad4 {
	padding: 4px;
}
.pad10 {
	padding: 10px;
}
.submitdata {
	font-weight: bold;
	width: 200px;
	height: 25px;
	border: 1px solid #999999;
	background-color: #EEEEEE;
	cursor: pointer;
}

div.autocomplete {
	position:absolute;
	width:250px;
	background-color:white;
	border:1px solid #888;
	margin:0px;
	padding:0px;
}
div.autocomplete ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
	list-style-type:none;
	display:block;
	margin:0;
	padding:5px;
	cursor:pointer;
	color: #990033
}
div.autocomplete ul li span.informal {
	color: #000000
}